---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import { socialMedia } from '../data/sosmed'
import profile from '../data/profile'
import { emotional, technical } from '../data/skills'
import Theme from '../components/Theme.astro'
import { navigation } from '../utils/navigation'
import { certificates } from '../data/certificates'
import { portfolio } from '../data/portfolio'
import Portfolio from '../components/Portfolio.astro'
import BackToTop from '../components/BackToTop.astro'
---

<Layout title="Welcome to Fery Irawan Profile.">
	<header class="bg-base-100">
		<div class="relative px-5 py-2 mt-2 flex justify-end">
			<Theme />
		</div>
		<div class="lg:min-h-screen lg:flex lg:justify-center lg:items-center">
			<figure>
				<img
					class="lg:hidden mx-auto w-24 h-24 rounded-full"
					src={profile.imageUrl}
					alt=""
					srcset=""
				/>
				<figcaption class="text-center mt-2">
					<h1 class="font-semibold text-2xl lg:text-5xl lg:mb-2">
						{profile.name}
					</h1>
					<p class="text-sm lg:text-xl">{profile.jobs}</p>
				</figcaption>
				<div class="mt-2 px-5 w-2/2">
					<ul class="flex flex-wrap justify-center">
						{
							socialMedia.map((social) => (
								<li>
									<a
										href={social.link}
										class="btn btn-ghost btn-sm"
										set:html={social.icon}
									/>
								</li>
							))
						}
					</ul>
				</div>
			</figure>
		</div>
	</header>
	<nav
		class="bg-base-100 lg:bg-base-200 shadow-sm lg:p-2 p-5 sticky top-0 z-10 overflow-x-auto whitespace-nowrap ms-auto"
	>
		<div
			role="tablist"
			class="lg:w-1/2 lg:ms-auto tabs tabs-boxed lg:tabs-bordered tabs-sm"
		>
			{
				navigation.map((menu) => (
					<a role="tab" href={menu.link} class="tab">
						{menu.title}
					</a>
				))
			}
		</div>
	</nav>
	<main class="container mx-auto lg:w-1/2">
		<BackToTop />
		<Section id="profile" title="Profile">
			<div class="flex flex-col lg:flex-row-reverse lg:gap-5 w-full">
				<div class="lg:w-1/2 p-5">
					<img
						src="https://avatars.githubusercontent.com/u/20228547?v=4"
						alt=""
						srcset=""
						class="rounded shadow- hover:cursor-zoom-in"
					/>
					<div>
						<div class="flex justify-center gap-5 my-5">
							<div>
								<span class="block">Name:</span>
								<span class="block">Birth:</span>
								<span class="block">Address:</span>
							</div>
							<div>
								<span class="block">Fery Irawan</span>
								<span class="block">July, 1995</span>
								<span class="block"
									>Pamalian Village, East Kotawaringin, Central Kalimantan,
									Indonesia</span
								>
							</div>
						</div>
					</div>
				</div>

				<div class="p-5 lg:w-3/4">
					<h1 class="text-4xl font-bold mb-3">About Me</h1>
					<div class="leading-loose text-sm">
						<p class="mb-1">
							🚀 I am a Software Developer with experience in web and mobile
							application development. My main expertise involves programming
							languages such as PHP, JavaScript, and Kotlin, as well as mastery
							in several leading frameworks such as Laravel, CodeIgniter 3
							(CI3), Next.js, and Astro.js. I also have deep expertise in
							designing and implementing REST APIs to support integration and
							communication between systems.
						</p>
						<p class="mb-1">
							💻 In the course of my career, I have successfully created
							innovative and efficient solutions using Laravel and CI3 to build
							reliable and scalable web applications. My deep understanding of
							modern technologies, such as Next.js and Astro.js, allows me to
							develop responsive user interfaces and engaging user experiences.
							I also have significant experience in building native Android apps
							using Kotlin programming language and Android Studio IDE.
						</p>
						<p class="mb-1">
							🎨 In addition, I have expertise in using Tailwind CSS to design
							clean, efficient, and aesthetically pleasing interfaces.
						</p>
						<p class="mb-1">
							🌐 Currently, I am developing skills in Python programming
							language and am studying the field of Data Science. This opens up
							new opportunities for me to combine my technical expertise with
							data analysis insights and smart decision making.
						</p>
						<p class="mb-1">
							🔍 I have real experience in building REST APIs and Web Apps using
							Laravel Framework, Astrojs, NextJS and real experience in building
							native Android Apps using Android Studio and Kotlin programming
							language. I enjoy collaborating in teams, have a passion for
							continuous learning and development, and believe that technology
							can shape the future.
						</p>
						<p class="mb-1 font-semibold">
							Open to discussion, collaboration, and new opportunities. Feel
							free to contact me!
						</p>
					</div>
				</div>
			</div>
		</Section>
		<Section id="skills" title="Skills">
			<h2 class="font-bold text-lg mb-2">Technical</h2>
			<hr />
			{
				technical.map((data) => (
					<div class="py-2">
						<div class="flex flex-col w-full">
							<div class="divider divider-start">
								<h2 class="text-sm font-semibold">{data.title}</h2>
							</div>
						</div>
						<ul class="text-sm">
							{data.data.map((subdata) => {
								return (
									<li class="mb-2">
										<div class="flex items-center gap-5 justify-between">
											<span>{subdata.name}</span>
											<progress
												class="progress progress-primary w-40 lg:w-48"
												value={subdata.percentage}
												max="100"
											/>
										</div>
									</li>
								)
							})}
						</ul>
					</div>
				))
			}

			<h2 class="font-bold text-lg mb-2 mt-2">Emotional</h2>
			<hr />
			<div class="py-2">
				<ul class="text-sm">
					{
						emotional.map((data) => (
							<li class="mb-2">
								<div class="flex items-center justify-between gap-5">
									<span>{data.name}</span>
									<progress
										class="progress progress-primary w-40 lg:w-48"
										value={data.percentage}
										max="100"
									/>
								</div>
							</li>
						))
					}
				</ul>
			</div>
		</Section>
		<Section id="certificates" title="Certificates">
			{
				certificates.map((certificate) => (
					<div class="flex flex-col w-full">
						<div class="divider divider-start">
							<h2 class="text-sm font-semibold">{certificate.title}</h2>
						</div>
						<ul class="grid grid-cols-2 gap-2">
							{certificate.datalist &&
								certificate.datalist.map((datalist) => (
									<li>
										<a
											class="hover:cursor-pointer link-certificates"
											data-certificate={datalist.url}
										>
											<img src={datalist.url} alt="" loading="lazy" />
										</a>
									</li>
								))}
						</ul>
					</div>
				))
			}
		</Section>
		<Section id="portfolio" title="portfolio">
			{
				portfolio.map(({ imageUrl, techStack }) => (
					<Portfolio urlImage={imageUrl} techStack={techStack} />
				))
			}
		</Section>
	</main>
	<footer class="footer footer-center p-4 bg-base-300 text-base-content">
		<aside>
			<small class="text-xs">
				Copyright © 2024 - All right reserved by Fery Irawan
			</small>
		</aside>
	</footer>

	<!-- Modal -->
	<dialog id="my_modal_5" class="modal modal-middle duration-150 ease-in-out">
		<div class="indicator w-full modal-boxz md:w-1/2">
			<form method="dialog" class="indicator-item">
				<button
					class="btn btn-sm btn-circle btn-neutral border-0 absolute right-2 top-2"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-x"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
							d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
					>
				</button>
			</form>
			<div class="p-5">
				<img id="modal-image" src="" alt="" />
			</div>
		</div>
	</dialog>
</Layout>

<script is:inline>
	const linkCertificates = document.getElementsByClassName('link-certificates')
	Array.from(linkCertificates).forEach((link) => {
		link.addEventListener('click', () => {
			const certificateUrl = link.dataset.certificate
			const dialog = document.getElementById('my_modal_5')
			const image = document.getElementById('modal-image')
			image.src = certificateUrl
			dialog.showModal()
		})
	})
</script>
